.resume h1:before,
.resume h2:before,
.resume h3:before,
.resume h4:before,
.resume h5:before,
.resume h6:before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
  content: '';
  pointer-events: none;
}
